
section.card-panel.feature#boardList
  .wrapper
    //- a(href="#animatedModal")#demo01 DEMO01
    //- br
    //- .animatedModal
    //-   .close-animatedModal#btn-close-modal
    //-    |CLOSE MODAL 
    //-   .modal-content
    //-     p Player 2 has won!
    #whichBoard
      .title#three
        p(data-boardsize=3) 3x3 
      .title#four
        p(data-boardsize=4) 4x4
      .title#five
        p(data-boardsize=5) 5x5
    .board#threeBoard
    .board#fourBoard 
    .board#fiveBoard 
section.card-panel.feature#score
  .scoreBoard
    #player1score.scoreItems
      p PLAYER 1
      span#numberScoreP1.score 0
    #player2score.scoreItems
      p PLAYER 2
      span#numberScoreP2.score 0
    #cat.scoreItems
      img(src='/gfx/vectors/neko.svg')
      p NEKO
      span#nekoScore.score 0
