
section.card-panel.feature#boardList
  .wrapper
    #whichBoard
      .title#three
        p(data-boardsize=3) 3x3 
      .title#four
        p(data-boardsize=4) 4x4
      .title#five
        p(data-boardsize=5) 5x5
    .board#threeBoard
    .board#fourBoard 
    .board#fiveBoard 
section.card-panel.feature#score
  .scoreBoard
    #player1score.scoreItems
      p PLAYER 1
      span#player1Score.score 0
    #player2score.scoreItems
      p PLAYER 2
      span#player2Score.score 0
    #cat.scoreItems
      p NEKO
      span#nekoScore.score 0
