section.card-panel.feature#playerList
  .wrapper
    #whichPlayer
      .title#player1
        p 1 Player
        form#iconsForP1
          label
                input(type="radio" name="playerIcon" id="onigiri1" value="<img src='/gfx/vectors/onigiri-1.svg'>")
                img(src='/gfx/vectors/onigiri-1.svg')
          label
                input(type="radio" name="playerIcon" id="ikura1"  value="<img src='/gfx/vectors/ikura-1.svg'>")
                img(src='/gfx/vectors/ikura-1.svg')
          label
                input(type="radio" name="playerIcon" id="maguro1"  value="<img src='/gfx/vectors/maguro.svg'>")
                img(src='/gfx/vectors/maguro.svg')
          label
                input(type="radio" name="playerIcon" id="tamago1"  value="<img src='/gfx/vectors/tamago.svg'>")
                img(src='/gfx/vectors/tamago.svg')
          label
                input(type="radio" name="playerIcon" id="roll1"  value="<img src='/gfx/vectors/roll.svg'>")
                img(src='/gfx/vectors/roll.svg')
          label
                input(type="radio" name="playerIcon" id="ebi1"  value="<img src='/gfx/vectors/ebi.svg'>")
                img(src='/gfx/vectors/ebi.svg')
          label#submitButton
                input(type="submit" value="Submit" id="submitFor1Player" class="submit") 
        //- p Computer
        //- form#iconsForComputer
        //-   label
        //-         input(type="radio" name="playerIcon" id="onigiri1" value="<img src='/gfx/vectors/onigiri-1.svg'>")
        //-         img(src='/gfx/vectors/onigiri-1.svg')
        //-   label
        //-         input(type="radio" name="playerIcon" id="ikura1"  value="<img src='/gfx/vectors/ikura-1.svg'>")
        //-         img(src='/gfx/vectors/ikura-1.svg')
        //-   label
        //-         input(type="radio" name="playerIcon" id="maguro1"  value="<img src='/gfx/vectors/maguro.svg'>")
        //-         img(src='/gfx/vectors/maguro.svg')
        //-   label
        //-         input(type="radio" name="playerIcon" id="tamago1"  value="<img src='/gfx/vectors/tamago.svg'>")
        //-         img(src='/gfx/vectors/tamago.svg')
        //-   label
        //-         input(type="radio" name="playerIcon" id="roll1"  value="<img src='/gfx/vectors/roll.svg'>")
        //-         img(src='/gfx/vectors/roll.svg')
        //-   label
        //-         input(type="radio" name="playerIcon" id="ebi1"  value="<img src='/gfx/vectors/ebi.svg'>")
        //-         img(src='/gfx/vectors/ebi.svg')
        //-   label#submitButton
        //-         input(type="submit" value="Submit" id="submitFor1Player" class="submit") 
      .title#player2
        p 2 Players
        #iconsForP2
          form#iconP1.playerSelectIcons
            h2 Player 1
            label
                  input(type="radio" name="playerIcon" id="onigiri1" value="<img src='/gfx/vectors/onigiri-1.svg'>")
                  img(src='/gfx/vectors/onigiri-1.svg')
            label
                  input(type="radio" name="playerIcon" id="ikura1"  value="<img src='/gfx/vectors/ikura-1.svg'>")
                  img(src='/gfx/vectors/ikura-1.svg')
            label
                  input(type="radio" name="playerIcon" id="maguro1"  value="<img src='/gfx/vectors/maguro.svg'>")
                  img(src='/gfx/vectors/maguro.svg')
            label
                  input(type="radio" name="playerIcon" id="tamago1"  value="<img src='/gfx/vectors/tamago.svg'>")
                  img(src='/gfx/vectors/tamago.svg')
            label
                  input(type="radio" name="playerIcon" id="roll1"  value="<img src='/gfx/vectors/roll.svg'>")
                  img(src='/gfx/vectors/roll.svg')
            label
                  input(type="radio" name="playerIcon" id="ebi1"  value="<img src='/gfx/vectors/ebi.svg'>")
                  img(src='/gfx/vectors/ebi.svg')
            label
                  input(type="submit" value="Set Icon" id="submitButtonP1" class="submit") 
            
          form#iconP2.playerSelectIcons
            h2 Player 2
            label
                  input(type="radio" name="playerIcon" id="onigiri1" value="<img src='/gfx/vectors/onigiri-1.svg'>")
                  img(src='/gfx/vectors/onigiri-1.svg')
            label
                  input(type="radio" name="playerIcon" id="ikura1"  value="<img src='/gfx/vectors/ikura-1.svg'>")
                  img(src='/gfx/vectors/ikura-1.svg')
            label
                  input(type="radio" name="playerIcon" id="maguro1"  value="<img src='/gfx/vectors/maguro.svg'>")
                  img(src='/gfx/vectors/maguro.svg')
            label
                  input(type="radio" name="playerIcon" id="tamago1"  value="<img src='/gfx/vectors/tamago.svg'>")
                  img(src='/gfx/vectors/tamago.svg')
            label
                  input(type="radio" name="playerIcon" id="roll1"  value="<img src='/gfx/vectors/roll.svg'>")
                  img(src='/gfx/vectors/roll.svg')
            label
                  input(type="radio" name="playerIcon" id="ebi1"  value="<img src='/gfx/vectors/ebi.svg'>")
                  img(src='/gfx/vectors/ebi.svg')
                  
            label
                  input(type="submit" value="Set Icon" id="submitButtonP2" class="submit")
        #startGameButton
          p Next
