footer#footer
  ul.nav-links
    li: a(href='/') Home


  ul.legal-links
    li SUSHI IN A ROE
  ul
    li made by Mao

  ul.social-links
    li
    i.fa.fa-facebook
    li
    i.fa.fa-twitter
    li
    i.fa.fa-google-plus
    li
    i.fa.fa-github-alt
