
#whichBoard
  .title
    text-align center
    height 100px
    background-color color-ttt-green-2
    display flex
    justify-content center
  .title:nth-child(2) {
    background-color: color-ttt-green-3
  }
  .title:nth-child(3) {
    background-color: color-ttt-green-4
  }
  p
    color white
    font-size 2em
    align-self center
.board
  width 100%
  height auto
  max-width 900px
  min-width 258px
  margin 0 auto
  display flex
  flex-flow row wrap
  justify-content space-around
  align-items space-around
  .box
    background color-ttt-green-1
    display flex
    justify-content center
    align-items center
    color white
    transition-property background, border-radius
    transition-duration 1s
    transition-timing-function ease-out
  .box:hover
    background lighten(color-ttt-green-1, 30%)
    border-radius 50%
  .marked
    background lighten(color-ttt-green-1, 30%)
    border-radius 50%
  .replaceIcon
    background transparent

#threeBoard
  .box
    width 50px
    height 50px
    margin 5%
    @media screen and (min-width: screen-size-xs) {
      margin 8%
    }
    @media screen and (min-width: screen-size-m) {
      margin 10%
    }
#fourBoard
  .box
    width 50px
    height 50px
    margin 2%
    @media screen and (min-width: 350px) {
      margin 4%
    }
    @media screen and (min-width: 440px) {
      margin 6%
    }
    @media screen and (min-width: 655px) {
      margin 8%
    }
#fiveBoard
  .box
    width 40px
    height 40px
    margin 2%
    @media screen and (min-width: 350px) {
      margin 3%
    }
    @media screen and (min-width: 414px) {
      margin 4%
    }
    @media screen and (min-width: 497px) {
      margin 5%
    }
    @media screen and (min-width: 635px) {
      margin 6%
    }
    @media screen and (min-width: 888px) {
      margin 7%
    }
/////////Score Board
.scoreBoard
  display flex
  height 150px
  align-items center
  justify-content center
  .scoreItems
      height 100%
      flex 1
      display flex
      flex-flow column
      justify-content center
      align-items center
      p, span
        color white
        text-align center
        margin 0 auto
      .score
        font-size 2em
        margin-top 10px
      img
        opacity 0.5
        width 50px
        height 50px

  #player1score
    background color-ttt-green-2

  #player2score
    background color-ttt-green-3

  #cat
    background color-ttt-green-4
