//-- The hero card on the landing page -----------------------------------------
#hero
  margin 1em 0
  overflow hidden
  text-align center

  .wrapper
    margin 0 auto
    max-width 800px

  .logo
    margin 2em auto
    background-color white

  .exit
    display flex
    justify-content space-between
    align-content center
    img, span
      background-color white
      padding 5px
      border-radius 5px
      color color-ttt-green-3
      height 50px
    img
      width 50px
    span
      padding 15px

  .title
    margin 2em auto

    h1
      border-top 2px solid white
      border-bottom 2px solid white
      color white
      display inline-block
      font-size 2.8em
      font-weight normal
      margin 0
      padding 0.2em 0
      text-transform uppercase

      +below('l')
        font-size 2em

      +below('s')
        font-size 1.4em
