#whichPlayer
  .title
    text-align center
    height auto
    background-color color-ttt-green-2
    display flex
    justify-content center
  .title:nth-child(2) {
    background-color: color-ttt-green-3
  }
  p
    color white
    font-size 2em
    align-self center
#player1, #player2
  display flex
  flex-flow column
  align-items center

#iconsForP1
  display flex
#iconsForP1, .playerSelectIcons
  margin 0 auto
  label
    input[type="radio"]
      display none
    img
      width 80px
      height 80px
      padding 5px
      margin 5px
      border 1px solid white
    input[type="radio"]:checked + img
      background-color white
    .submit
      display block
      border 2px solid  white
      background-color transparent
      color white
      padding 5px
      box-shadow 0 0 1em color-ttt-green-5
      margin 10px auto
      width 150px
      border-radius 5px
    .clicked
      background-color color-ttt-green-5

  h2
    color white
    font-size 1.5em
#iconsForP2
  display flex
  flex-flow column
  width 320px
  max-width 800px
  @media screen and (min-width: 800px) {
    width auto
    flex-flow row
  }
#startGameButton
  p
    font-size 1.5em
    border 4px solid white
    color white
    padding 5px
    border-radius 5px
    width 150px
    box-shadow 0 0 1em color-ttt-green-5
