//-- The landing page ----------------------------------------------------------
.index
  background color-ttt-green-1


  .feature
    &.gfx-left
      @extend .white

    &.gfx-right
      @extend .blue.lighten-5

body
  display flex
  min-height 100vh
  flex-direction column
  .main-content
    flex 1
