//-- The landing page ----------------------------------------------------------
.index
  background color-ttt-green-1

  #hero
    .logo
      background-color white
    h1
      border-color white
      color white

  .feature
    &.gfx-left
      @extend .white

    &.gfx-right
      @extend .blue.lighten-5
