extend template-wrapper
block vars
  - var bodyClass = 'index';

block append title
  | - SUSHI IN A ROE

block content
  header#hero
    .wrapper
      .logo
        img(src='/gfx/vectors/icon.svg', height='158', width='150')
      .title
        h1 SUSHI IN A ROE
  .main-content    
    include components/board
    include components/player
  include components/footer
  
block scripts
  script(type='text/javascript' src='/js/game/game-state.js')
  script(type='text/javascript' src='/js/tictactoe.js')
